{% extends "admin/header.html" %}
{% block body %}
    <div class="page">
        <form action="{{ g.handle_url }}" method="post" class="add-entry">
            <dl>
                <dt>Title:
                <dd><input type="text" size="30" name="title">
                <dt>Text:
                <dd><textarea name="text" rows="5" cols="40"></textarea><br/><br/>
                    {% if g.handle_type is equalto('post') %}
                        category:
                        <select name="category">
                            {% for item in metas['category'] %}
                                <option value="{{ item[0] }}">{{ item[1] }}</option>
                            {% endfor %}
                        </select><br/><br/>
                        Tag:
                        <select name="tag">
                            {% for item in metas['tag'] %}
                                <option value="{{ item[0] }}">{{ item[1] }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                <dd><br/><input type="submit" value="Submit">
            </dl>
        </form>
    </div>
{% endblock %}