{% extends "admin/header.html" %}
{% block body %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('overview') }}">Overview</a></li>
            <li><a href="{{ url_for("admin_show",type="post") }}">Posts</a></li>
            <li><a href="{{ url_for("admin_show",type="page") }}">Pages</a></li>
            <li><a href="{{ url_for("admin_show",type="category") }}">Categories</a></li>
            <li><a href="{{ url_for("admin_show",type="tag") }}">Tags</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Add a tag/category</h2>
        {#        <form action="{{ g.handle_url }}" method="post">#}
        {#            <div class="input-group">#}
        {#                <span class="input-group-addon">@</span>#}
        {#                <input type="text" class="form-control" placeholder="Name" name="metas_name">#}
        {#            </div>#}
        {#            <br>#}
        {#            <div class="input-group">#}
        {#                <span class="input-group-addon">@</span>#}
        {#                <input type="text" class="form-control" placeholder="Description" name="metas_nickname">#}
        {#            </div>#}
        {#            <br>#}
        {#            <input type="submit" value="Add" class="btn btn-primary btn-default">#}
        {##}
        {#        </form>#}
        <div id="test-editormd">
            <textarea style="display:none;">[TOC]</textarea>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("test-editormd", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "{{ url_for('static', filename='lib') }}"
            });
        });
    </script>
{% endblock %}