{% extends "admin/header.html" %}
{% block body %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('overview') }}">Overview</a></li>
            <li><a href="{{ url_for("admin_show",type="post") }}">Posts</a></li>
            <li><a href="{{ url_for("admin_show",type="page") }}">Pages</a></li>
            <li><a href="{{ url_for("admin_show",type="category") }}">Categories</a></li>
            <li><a href="{{ url_for("admin_show",type="tag") }}">Tags</a></li>
            <li class="active"><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Settings</h2>
        <form action="/admin/settings" method="post">
            <div class="input-group">
                <input type="text" class="form-control" value="{{ info['sitename'] }}" name="sitename">
                <span class="input-group-addon">Sitename</span>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" value="{{ info['description'] }}" name="description">
                <span class="input-group-addon">Description</span>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" value="{{ info['default_page'] }}" name="defaultpage">
                <span class="input-group-addon">Default page id</span>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" value="{{ info['number_of_articles'] }}" name="numberofarticle">
                <span class="input-group-addon">Number of articles</span>
            </div>
            <br>
            <input type="submit" value="Save" class="btn btn-primary btn-default">
        </form>
    </div>
{% endblock %}