.container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.header {
    word-spacing: 30px;
    clear: left;
}

.page {
    float: left;
    width: 500px;
}

.sidebar {
    margin-left: 530px;
}

a.pos_right {
    position: relative;
    word-spacing: normal;
    left: 300px
}

.footer {
    clear: left;
}
