{% extends "theme/base.html" %}
{% block body %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article>
                <header class="entry-header">
                    <h1 class="entry-title">{{ contents['text'][0][0] }}
                    </h1>
                    <div class="entry-meta">
                        <span class="posted-on"><time
                                class="entry-date published updated">{{ contents['text'][0][2] }}</time>
                        </span>
                        <span class="byline">
                                <span class="author vcard">{{ contents['text'][0][3] }}</span></span>
                        <span class="comments-link">
                                {{ contents['text'][0][4] }}
                            </span>
                    </div>
                </header><!-- .entry-header -->

                <div class="entry-summary">
                    {{ contents['text'][0][1]|safe }}
                </div><!-- .entry-summary -->
                <footer class="entry-footer">
                </footer><!-- .entry-footer -->
            </article><!-- #post-## -->
        </main><!-- #main -->
    </div>
{% endblock %}
{% block sidebar %}
    <div id="secondary" class="widget-area" role="complementary">
        <aside id="categories-2" class="widget widget_categories"><h1 class="widget-title">Categories</h1>
            <ul>
                {% for item in contents['category'] %}
                    <li class="cat-item cat-item-1"><a
                            href="{{ url_for('show_category',cid=item[0]) }}">{{ item[1] }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <aside id="categories-2" class="widget widget_categories"><h1 class="widget-title">Tags</h1>
            <ul>
                {% for item in contents['tag'] %}
                    <li class="cat-item cat-item-1"><a
                            href="{{ url_for('show_tag',cid=item[0]) }}">{{ item[1] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <aside id="meta-2" class="widget widget_meta"><h1 class="widget-title">Manage</h1>
            <ul>
                {% if not session.logged_in %}
                    <li>
                        <a href="{{ url_for('login') }}">Log in</a>
                        {% else %}
                        <a href="{{ url_for('overview') }}">Dashboard</a>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>{% endif %}
                <li><a href="https://github.com/puorc/tinyblog">Github</a>
                </li>
            </ul>
        </aside>
    </div>
{% endblock %}

